body {
	font-size: 24px;
	line-height: 32px;
	color: #333;
	width: 1000px;
    height:100%;	
}
header {
	background: white;
	border-bottom: 2px solid #cccccc;
	color: #ffffff;
}
#headerFirstName{
	margin:20px 50px 0px 100px;
    background: #4aaaa5;
    padding: 20px;
    font-weight: bold;
    font-family: Georgia;
    color: white;
    display: inline-block;
}
#navBar{
	float: right;
	margin:20px 0px 0px 50px;
    padding: 20px;
    display: inline-block;
}
tr{
    font-family: arial;
    font-size: 10pt;
}
section {
	padding: 20px;
	background: #ffffff
}
.navBarLinks{
	text-decoration: none;
	color: #777777
}
#left {
	padding-left: 15px;
	padding-right: 15px;
    border-right: 1px solid #cccccc;
}
#middle {
	padding-left: 15px;
	padding-right: 15px;
    border-right: 1px solid #cccccc;
}
#right {
	padding-left: 15px;
	padding-right: 15px;
}
.bodyHeadings{
	font-weight: bold;
    font-family: Georgia;
    color: #4aaaa5;
    width: 100%;
    display: inline-block;
}
.contentBorder{
	border-bottom: 1px solid #cccccc;
}
#profPic{
	float: left;
    width: 140px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.aboutMeBio{
	font-family: arial;
	font-size: 10pt;
	line-height: 2;
	width: 500px;
	color: #777777	
}
#full {
	clear: both;
	width: 960px;
	height: 100%;
	overflow: auto;
	background-image: url("old_moon.png");

}
#container {
	float: left;
    width: 190px;
    padding: 20px;
    font-size: 14pt;
    font-weight: bold;
    font-family: Georgia;
    color: #4aaaa5;
    background: #fff;
    border: 1px solid #eee;
}
.mainCentral{
	float: left;
    width: 520px;
    margin-left: 80px;
    margin-right: 63px;
    padding: 20px;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}
aside {
}
#linkMeIcons{
	width: 85%;
}
.connectLinks{
	float: left;
    width: 25%;
    margin-left: 10px;
 	opacity: 0.5;
 
 /*Transition*/
 	-webkit-transition: all 0.5s ease;
 	-moz-transition: all 0.5s ease;
 	-o-transition: all 0.5s ease;
}
.connectLinks:hover{  
   	opacity: 1;

   	/*Glow*/
  	-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  	-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  	box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}
footer {
	border-top: 10px solid #4aaaa5;
	background: #666666;
	padding: 20px;
	clear: both;
}
#copyright{
	text-align: center;
    font-size: 10pt;
    display: inline-block;
    width: 100%;
}
.formHeadings{
	font-family: Arial;
	font-size: 14pt;
	color: #777777;	
}
.formInput{
    width: 90%;
    height: 16px;
    font-family: Arial;
    font-size: 10pt;
    color: #777777;
    margin-bottom: 10px;
}
#formMessage{
	width: 90%;
	height: 100px;
    font-family: Arial;
    font-size: 10pt;
    color: #777777;
    text-align: left;
}
#submitButton{
	background: #4aaaa5;
	color: #dddddd;
	font-family: arial;
	font-size: 10pt;
}
input[type="text"]:focus{
	outline: none;
}
textarea:focus{
	outline: none;
}
.projectPics{
    float: left;
    height: 150px;
    width: 200px;
    padding: 0px 15px 15px 15px;
    position: relative;
    top: 0;
    left: 0;
}
#project1{
	position: absolute;
	background-color: #4aaaa5;
    width: 200px;	
    top: 320px;
    left: 136px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project2{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 320px;
    left: 366px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project3{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 484px;
    left: 136px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project4{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 484px;
    left: 366px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
#project5{
	position: absolute;
    background-color: #4aaaa5;
    width: 200px;
    top: 651px;
    left: 136px;
    text-align: center;
    font-family: georgia;
    font-size: 12pt;
    color: white;
}
* {
    margin: 0;
}
html{
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer{
    height: 4em;
}
.push{
    background-image: url("old_moon.png");
    height: 4em;
}


